@font-face {
  font-family: JetBrainsMono;
  src: url(../ttf/JetBrainsMono-Regular.woff2);
}

@font-face {
  font-family: DFPKing;
  src: url(../ttf/DFPKingGothicGB-Regular.woff2);
}

.markdown-body code,
.markdown-body pre {
  font-family: JetBrainsMono, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
}